* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: "Space Grotesk", sans-serif;
}

.search-bar {
  display: block;
  margin: 2rem auto;
  width: 100%;
  height: 2.4rem;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 0.2rem;
  background-color: rgb(245, 244, 244);
}

input#search-area::placeholder {
  font-size: 0.75rem;
  color: rgb(165, 165, 165);
  letter-spacing: 0.03rem;
  padding-left: 0.4rem;
}

.wrapper {
  max-width: 70%;
  margin: 0 auto;
}

.main_img {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.images {
  width: 100%;
}

/* ////// Media Queries ////// */

@media (min-width: 768px) {
  .search-bar {
    width: 60%;
  }
}
